<div class="navbar">
    <div class="brand ml12">
        <a id="brand" href="/">DEV WITH RAFEZ</a>
    </div>
    <div class="routes ml12">
        <a href="/about">ABOUT</a>
        <a href="/services">SERVICES</a>
        <a href="/portfolio">PORTFOLIO</a>
        <a href="/contact">CONTACT</a>
    </div>
    
</div>